/* desktop.css */

#desktop {
    height: 100vh;
    width: 100vw;

    background: url("../assets/wallpapers/Cartethyia.jpg") center/cover no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    padding: 20px;

    align-content: start;
    gap: 20px;

    /* When you add absolute-position icons later, remove display:grid */
}